{% extends "main_template.html" %}
{% block content %}
  <header>
    <img src="{{ url_for('static', filename='img/cemex-ventures-logo.png')}}" style="float: right;height: 46px;padding: 21px 21px 0 0;">
    <ul id="header-nav">
      <li>
        <a href="{% if session.logged_in %}/{{ iid or '0' }}/{{ tf or 31 }}/index{% else %}login{% endif %}" id="head-main">
          <h1>Concept Insight Visualizer</h1>
          <p>for keyword exploration</p>
        </a>
      </li>
      <li>
        <ul id="nav">
          {% if not session.logged_in %}
            <li><a href="{{ url_for('login') }}">Login</a>
            <li><a href="{{ url_for('about') }}">About Us</a></li>
          {% else %}
            <li><a href="{{ url_for('topic_cloud', iid=(iid or 0), tf=(tf or 31)) }}">Topic Cloud</a></li>
            <li><a href="{{ url_for('vocabulary', iid=(iid or 0), tf=(tf or 31)) }}">Vocabulary</a></li>
            <li><a href="{{ url_for('about') }}">About Us</a></li>
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
          {% endif %}
        </ul>
      </li>
      <li id="more-wrapper">
        <b><a href="#">&#xF0C9;</a></b>
        <ul id="more-nav">
          <li>
            <ul class="subfilter"></ul>
          </li>
        </ul>
      </li>
    </ul>
  </header>
  <div id="flash-msg">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash{{ ' '+category }}"><a class="flash-message-closer" href="#" onclick="$(this).hide(400).parents('.flash').slideUp(400,function(){$(this).remove();});">&#xF05C;</a>{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  <div id="content">
    <div id="form-outer-wrapper">
      <div id="form-inner-wrapper">
        <div id="breadcrumbs">
          {% block breadcrumbs %}
            <span onclick="window.location.href='/{{ iid }}/{{ tf }}/index'">{{ inputs[iid|int] }}</span><nobr>></nobr>
            <span onclick="window.location.href='/{{ iid }}/{{ tf }}/index'">index</span>
          {% endblock %}
        </div>
        {% block body %}
          <div id="header">
            <h4>Topic based document similarity</h4>
            <p>
              Chart Search term :
                <select name="term_select" onChange="window.location.href='/'+this.value+'/{{ tf }}/index'">
                {% for idx, term in inputs.items() %}
                  <option value="{{ idx }}"{% if iid|int is equalto idx|int %} selected{% endif %}>{{ term }}</option>
                {% endfor %}
              </select>
            </p>
            <p>
              Timeframe :
                <select name="timeframe_select" onChange="window.location.href='/{{ iid }}/'+this.value+'/index'">
                {% for tmfr in [31, 93, 365] %}
                  <option value="{{ tmfr }}"{% if tmfr is equalto tf|int %} selected{% endif %}>{{ tmfr }} days</option>
                {% endfor %}
              </select>
            </p>
          </div>
        {% endblock %}
      </div>
    </div>
  </div>
    <!--<div id="qr-container"><aside>What&rsquo;s this?</aside><img src="{{ qrcode(about_url) }}"></div>-->
  {% block footer_extra %}
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
        $('select[name=timeframe_select]').val({{ tf }});
      });
    </script>
    <script type="text/javascript" charset="utf-8">

      function generateObject(keys,values) {
        var rv = {};
        for (var i = 0; i < keys.length; ++i)
          rv[keys[i]] = values[i];
        return rv;
      }

      var color_array = [
        "#da4480", "#5ab449", "#7f5acd", "#1f77b4", "#ff7f0e", "#2ca02c", "#d62728", "#9467bd",
        "#8c564b", "#e377c2", "#7f7f7f", "#bcbd22", "#17becf"
      ];

      var interval = Math.floor(1000 / 60 * 10);
      var resizeTimer;
      var isFirstLoad = true;

      function render(){

          var height = parseInt($('#form-inner-wrapper').css('height'));
          var width = $(window).width()-30;
          var innerRadius = Math.min.apply(null,[height,$(window).width()])/2 - 100;
          var outerRadius = innerRadius + 10;

          $('#form-inner-wrapper').css('width', width);

          d3.json("{{ url_for('static', filename = 'data/input'+iid+'_'+tf+'d_document_network.json') }}", function (error, data) {

              if (error) throw error;

              var last = d3.select('#form-inner-wrapper')._groups[0][0].lastChild;
              if (last != null && !isFirstLoad) {
                  last.remove();
              }
              isFirstLoad = false;

              function sort(a,b){ return d3.ascending(data.concepts.indexOf(a),data.concepts.indexOf(b)); }
              var colors = generateObject(data.concepts,color_array);

              var ch = viz.ch().data(data.data)
                      .padding(.033)
                      .sort(sort)
                      .innerRadius(innerRadius)
                      .outerRadius(outerRadius)
                      .duration(1000)
                      .chordOpacity(0.3)
                      .labelPadding(.15)
                      .fill(function (d) {
                          return colors[d];
                      });

              var svg = d3.select('#form-inner-wrapper')
                      .classed('svg-container', true)
                      .append("svg")
                      .classed("svg-content-responsive", true)
                      .attr("viewBox", "0 0 " + width + " " + height)
                      .attr("preserveAspectRatio", "xMinYMin meet");
                      //.attr("height", height).attr("width", width);

              svg.append("g")
                      .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
                      .call(ch);

              if (innerRadius < 150) {
                  svg.selectAll('text').style("font-size", d3.scaleLinear().range([10, 18]).domain([0, 150])(innerRadius));
              } else {
                  svg.selectAll('text').style("font-size", 18);
              }
          });
      }

      $(document).ready(function() {

        render();

        window.addEventListener('resize', function (event) {
          if (resizeTimer !== false) {
            clearTimeout(resizeTimer);
          }
          resizeTimer = setTimeout(function () {
            render()
          }, interval);
        });

        var i = 0;
        var isPaused = false;
        setInterval(function(){
          if(!isPaused){
            d3.select('g.groups:nth-child('+(i+1)+')').dispatch('mouseover');
            $('g.groups:nth-child('+(i+2)+')').find('text').css('font-weight','bold');
            setTimeout(function(){
              d3.select('g.groups:nth-child('+(i+1)+')').dispatch('mouseout');
              $('g.groups:nth-child('+(i+2)+')').find('text').css('font-weight','normal');
              i+=2;
              i%=$('g.groups').length;
            },4000);
          }
        },6000);

        $('#form-inner-wrapper')
          .append($('<button/>').addClass('pause'));

        $('.pause, .play').on('click', function(e) {
          if($(this).hasClass('pause')) {
            isPaused = true;
            $(this).addClass('play').removeClass('pause');
          } else {
            isPaused = false;
            $(this).removeClass('play').addClass('pause');
          }
        });

      });
    </script>
  {% endblock %}
{% endblock %}