{% extends "main_template.html" %}
{% block content %}
  <header>
    <img src="{{ url_for('static', filename='img/cemex-ventures-logo.png')}}" style="float: right;height: 46px;padding: 21px 21px 0 0;">
    <ul id="header-nav">
      <li>
        <a href="/{{ iid }}/index" id="head-main">
          <h1>Concept Insight Visualizer</h1>
          <p>for keyword exploration</p>
        </a>
      </li>
      <li>
        <ul id="nav">
          <li><a href="{{ url_for('topic_cloud', iid=(iid or 0)) }}">Topic Cloud</a></li>
          <li><a href="{{ url_for('vocabulary', iid=(iid or 0)) }}">Vocabulary</a></li>
          <li><a href="{{ url_for('about') }}">About Us</a></li>
        </ul>
      </li>
      <li id="more-wrapper">
        <b><a href="#">&#xF0C9;</a></b>
        <ul id="more-nav">
          <li>
            <ul class="subfilter"></ul>
          </li>
        </ul>
      </li>
    </ul>
  </header>
  <div id="flash-msg">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash{{ ' '+category }}"><a class="flash-message-closer" href="#" onclick="$(this).hide(400).parents('.flash').slideUp(400,function(){$(this).remove();});">&#xF05C;</a>{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  {% block body %}
    <div id="content">
      <div id="form-outer-wrapper">
        <div id="form-inner-wrapper">
          <div id="header">
            <h4>Topic based document similarity</h4>
            Search term :
          </div>
            <h4></h4>
        </div>
      </div>
    </div>
    <!--<div id="qr-container"><aside>What&rsquo;s this?</aside><img src="{{ qrcode(about_url) }}"></div>-->
  {% endblock %}
  {% block footer_extra %}
    <script type="text/javascript" charset="utf-8">

      function generateObject(keys,values) {
        var rv = {};
        for (var i = 0; i < keys.length; ++i)
          rv[keys[i]] = values[i];
        return rv;
      }

      var color_array = [
        "#da4480", "#5ab449", "#7f5acd", "#1f77b4", "#ff7f0e", "#2ca02c", "#d62728", "#9467bd",
        "#8c564b", "#e377c2", "#7f7f7f", "#bcbd22", "#17becf"
      ];

      /*var cncpts = ['Concept 1', 'Concept 2', 'Concept 3', 'Concept 4', 'Concept 5', 'Concept 6'];

      var data = [
          [cncpts[0],cncpts[1],150],[cncpts[0],cncpts[2],100],[cncpts[0],cncpts[3],300],[cncpts[0],cncpts[4],500],[cncpts[0],cncpts[5],450],
          [cncpts[1],cncpts[0],150],[cncpts[1],cncpts[2],250],[cncpts[1],cncpts[3],250],[cncpts[1],cncpts[4],800],[cncpts[1],cncpts[5],300],
          [cncpts[2],cncpts[0],100],[cncpts[2],cncpts[1],250],[cncpts[2],cncpts[3],150],[cncpts[2],cncpts[4],250],[cncpts[2],cncpts[5],150],
          [cncpts[3],cncpts[0],300],[cncpts[3],cncpts[1],250],[cncpts[3],cncpts[2],150],[cncpts[3],cncpts[4],400],[cncpts[3],cncpts[5],100],
          [cncpts[4],cncpts[0],500],[cncpts[4],cncpts[1],800],[cncpts[4],cncpts[2],250],[cncpts[4],cncpts[3],400],[cncpts[4],cncpts[5],300],
          [cncpts[5],cncpts[0],450],[cncpts[5],cncpts[1],300],[cncpts[5],cncpts[2],150],[cncpts[5],cncpts[3],100],[cncpts[5],cncpts[4],300]
      ];

      var sortOrder =[
        cncpts[0],
        cncpts[1],
        cncpts[2],
        cncpts[3],
        cncpts[4],
        cncpts[5]
      ];*/

      var interval = Math.floor(1000 / 60 * 10);
      var resizeTimer;

      function render(){

          var height = parseInt($('#form-inner-wrapper').css('height'));
          var width = $(window).width()-30;
          var innerRadius = Math.min.apply(null,[height,$(window).width()])/2 - 100;
          var outerRadius = innerRadius + 10;

          $('#form-inner-wrapper').css('width', width);

          d3.json("{{ url_for('static', filename = 'data/input'+iid+'_document_network.json') }}", function (error, data) {

              if (error) throw error;

              var last = d3.select('#form-inner-wrapper')._groups[0][0].firstChild;
              if (last != null) {
                  last.remove();
              }

              function sort(a,b){ return d3.ascending(data.concepts.indexOf(a),data.concepts.indexOf(b)); }
              var colors = generateObject(data.concepts,color_array);

              var ch = viz.ch().data(data.data)
                      .padding(.033)
                      .sort(sort)
                      .innerRadius(innerRadius)
                      .outerRadius(outerRadius)
                      .duration(1000)
                      .chordOpacity(0.3)
                      .labelPadding(.15)
                      .fill(function (d) {
                          return colors[d];
                      });

              var svg = d3.select('#form-inner-wrapper').append("svg").attr("height", height).attr("width", width);

              svg.append("g")
                      .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
                      .call(ch);

              if (innerRadius < 150) {
                  svg.selectAll('text').style("font-size", d3.scaleLinear().range([10, 18]).domain([0, 150])(innerRadius));
              } else {
                  svg.selectAll('text').style("font-size", 18);
              }
          });
      }

      $(document).ready(function() {

        render();

        window.addEventListener('resize', function (event) {
          if (resizeTimer !== false) {
            clearTimeout(resizeTimer);
          }
          resizeTimer = setTimeout(function () {
            render()
          }, interval);
        });

        var i = 0;
        setInterval(function(){

          d3.select('g.groups:nth-child('+(i+1)+')').dispatch('mouseover');
          $('g.groups:nth-child('+(i+2)+')').find('text').css('font-weight','bold');
          setTimeout(function(){
            d3.select('g.groups:nth-child('+(i+1)+')').dispatch('mouseout');
            $('g.groups:nth-child('+(i+2)+')').find('text').css('font-weight','normal');
            i+=2;
            i%=$('g.groups').length;
          },4000);

        },6000);

      });
    </script>
  {% endblock %}
{% endblock %}