{% extends "index.html" %}
{% block header_extra %}
  <style>
    .node {
      stroke: #666;
      stroke-width: 1.5px;
    }

    .node:hover {
      stroke: #222;
      stroke-width: 3px;
    }

    text {
      font: 14px;
      color: #bbb;
      pointer-events: none;
    }
  </style>
{% endblock %}
{% block breadcrumbs %}
  <span onclick="window.location.href='/{{ iid }}/index'">{{ inputs[iid|int] }}</span>
  ><span onclick="window.location.href='/{{ iid }}/topic_cloud'">topic cloud</span>
{% endblock %}
{% block body %}
  <div id="header">
    <h4>Topic cloud</h4>
    <!--<p>Each bubble represents a topic; double-click one to get more details</p>-->
    <p>
      Search term :
        <select name="term_select" onChange="window.location.href='/'+this.value+'/topic_cloud'">
        {% for idx, term in inputs.items() %}
          <option value="{{ idx }}"{% if iid|int is equalto idx|int %} selected{% endif %}>{{ term }}</option>
        {% endfor %}
      </select>
    </p>
  </div>
{% endblock %}
{% block footer_extra %}
  <script>

    var interval = Math.floor(1000 / 60 * 10);
    var resizeTimer;
    var wrapper = $('#form-inner-wrapper');

    /*function wrapper_resize() {
      wrapper.css('width', Math.max.apply(null, [270,parseInt(3*$(window).width()/4)]));
    }*/

    function render() {
        /*var width = window.innerWidth
                || document.documentElement.clientWidth
                || document.body.clientWidth;*/
        /*var height = window.innerHeight
                || document.documentElement.clientHeight
                || document.body.clientHeight;*/
        var width = parseInt($('#form-inner-wrapper').css('width'));
        var height = parseInt($('#form-inner-wrapper').css('height'));
        /*height = height - 80;*/
        var color = d3.scale.category20();

        var force = d3.layout.force()
                .charge(-900)
                .linkDistance(100)
                .size([width, height]);

        var svg = d3.select("#form-inner-wrapper")
                .classed('svg-container', true)
                .append('svg')
                .classed("svg-content-responsive", true)
                //.attr("width", function(){return parseInt($('#form-inner-wrapper').css('width'))})
                //.attr("height", function(){return parseInt($('#form-inner-wrapper').css('height'))})
                .attr("viewBox", "0 0 " + width + " " + height)
                .attr("preserveAspectRatio", "xMinYMin meet")
                .attr("pointer-events", "all");

        d3.json("{{ url_for('static', filename = 'data/input'+iid+'_topic_cloud.json') }}", function (error, cloud) {
            if (error) throw error;

            force
                    .nodes(cloud.nodes)
                    .links(cloud.links)
                    .start();

            var link = svg.selectAll(".link")
                    .data(cloud.links)
                    .enter().append("line")
                    .attr("class", "link")
                    .style("stroke-width", 0);

            var node = svg.selectAll(".node")
                    .data(cloud.nodes)
                    .enter().append("circle")
                    .attr("class", "node")
                    .attr("r", function (d) {
                        return d.frequency * 500;
                    })
                    .style("fill", "rgb(76, 116, 134)")
                    .style('cursor','pointer')
                    .call(force.drag)
                    .on("dblclick", show_details)
                    .on("mouseover", focus_topic)
                    .on("mouseout", unfocus_topic);

            node.append("title")
                    .text(function (d) {
                        return d.name;
                    });

            function show_details() {
                window.location = "topic/" + d3.select(this).select("title").text();
            }

            function focus_topic() {
                d3.select(this).style("fill", "#34aad8");
            }

            function unfocus_topic() {
                d3.select(this).style("fill", "rgb(76, 116, 134)");
            }

            var texts = svg.selectAll("text.label")
                    .data(cloud.nodes)
                    .enter()
                    .append("text")
                    .attr("class", "label")
                    .attr("fill", "#333")
                    .attr("text-anchor", "middle")
                    .attr("dy", ".35em")
                    .text(function (d) {
                        return d.description;
                    });

            force.on("tick", function () {
                link.attr("x1", function (d) {
                    return d.source.x;
                })
                        .attr("y1", function (d) {
                            return d.source.y;
                        })
                        .attr("x2", function (d) {
                            return d.target.x;
                        })
                        .attr("y2", function (d) {
                            return d.target.y;
                        });

                node.attr("cx", function (d) {
                    return d.x;
                })
                        .attr("cy", function (d) {
                            return d.y;
                        });

                texts.attr("x", function (d) {
                    return d.x;
                })
                        .attr("y", function (d) {
                            return d.y;
                        });
            });
        });

        window.addEventListener('resize', function (event) {
          if (resizeTimer !== false) {
            clearTimeout(resizeTimer);
          }

          var width = parseInt($('#form-inner-wrapper').css('width'));
          var height = parseInt($('#form-inner-wrapper').css('height'));

          force.size([width, height]).resume();

          resizeTimer = setTimeout(function () {
            svg.attr("viewBox", "0 0 " + width + " " + height);
          }, interval);
        });

    };

    render();

    /*$(document).ready(function(){

      window.addEventListener('resize', function (event) {
        if (resizeTimer !== false) {
          clearTimeout(resizeTimer);
        }
        resizeTimer = setTimeout(function () {
          wrapper_resize();
        }, interval);
      });

      wrapper_resize();

    });*/

  </script>
{% endblock %}
