{% extends "index.html" %}
{% block header_extra %}{% endblock %}
{% block body %}
    <div id="content">
      <div id="form-outer-wrapper">
        <div id="form-inner-wrapper">
          <div id="header">
            <h4>Vocabulary</h4>
            <p>
              Search term :
                <select name="term_select" onChange="window.location.href='/'+this.value+'/vocabulary'">
                {% for idx, term in inputs.items() %}
                  <option value="{{ idx }}"{% if iid|int is equalto idx|int %} selected{% endif %}>{{ term }}</option>
                {% endfor %}
              </select>
            </p>
          </div>
          <div id="wrap">
            {% for vocabulary in splitted_vocabulary %}
              <div id="five_columns">
                <ul>
                  {% for indexed_word in vocabulary %}
                    <li><a href="word/{{ indexed_word[0] }}">{{ indexed_word[1] }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block footer_extra %}
  <script>

    /*var interval = Math.floor(1000 / 60 * 10);
    var resizeTimer;
    var wrapper = $('#form-inner-wrapper');

    function wrapper_resize() {
      wrapper.css('width', Math.max.apply(null, [270,parseInt(3*$(window).width()/4)]));
    }

    $(document).ready(function(){

      window.addEventListener('resize', function (event) {
        if (resizeTimer !== false) {
          clearTimeout(resizeTimer);
        }
        resizeTimer = setTimeout(function () {
          wrapper_resize();
        }, interval);
      });

      wrapper_resize();

    });*/
  </script>
{% endblock %}
