{% extends "index.html" %}
{% block header_extra %}{% endblock %}
{% block breadcrumbs %}
  <span onclick="window.location.href='/{{ iid }}/{{ tf }}/index'">{{ inputs[iid|int]['name'] }}</span><nobr>></nobr>
  <span onclick="window.location.href='/{{ iid }}/{{ tf }}/vocabulary'">vocabulary</span>
{% endblock %}
{% block body %}
  <div id="header">
    <h4>Vocabulary</h4>
    <p>
    Chart Search term :
      <select name="term_select" onChange="window.location.href='/'+this.value+'/{{ tf }}/vocabulary'">
        {% for input in inputs %}
          <option value="{{ input['id'] }}"{% if iid|int is equalto input['id'] %} selected{% endif %}>{{ input['name'] }}</option>
        {% endfor %}
    </select>
    </p>
    <p>
    Timeframe :
      <select name="timeframe_select" onChange="window.location.href='/{{ iid }}/'+this.value+'/vocabulary'">
      {% for tmfr in [31, 93, 365] %}
        <option value="{{ tmfr }}"{% if tmfr is equalto tf|int %} selected{% endif %}>{{ tmfr }} days</option>
      {% endfor %}
    </select>
    </p>
  </div>
  <div id="wrap">
    {% for vocabulary in splitted_vocabulary %}
      <div id="five_columns">
        <ul>
          {% for indexed_word in vocabulary %}
            <li><a href="word/{{ indexed_word[0] }}">{{ indexed_word[1] }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
{% endblock %}
{% block footer_extra %}
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $('select[name=timeframe_select]').val({{ tf }});
    });
  </script>
  <script>

    /*var interval = Math.floor(1000 / 60 * 10);
    var resizeTimer;
    var wrapper = $('#form-inner-wrapper');

    function wrapper_resize() {
      wrapper.css('width', Math.max.apply(null, [270,parseInt(3*$(window).width()/4)]));
    }

    $(document).ready(function(){

      window.addEventListener('resize', function (event) {
        if (resizeTimer !== false) {
          clearTimeout(resizeTimer);
        }
        resizeTimer = setTimeout(function () {
          wrapper_resize();
        }, interval);
      });

      wrapper_resize();

    });*/
  </script>
{% endblock %}
