{% extends "index.html" %}
{% block header_extra %}
<script src="{{ url_for('static', filename = 'js/d3-tip/d3-tip.js' )}}"></script>
<style>
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .bar {
    fill: #3DC9FF;
  }

  .bar:hover {
    fill: #34aad8;
  }

  .x.axis path {
    display: none;
  }
</style>
{% endblock %}
{% block body %}
    <div id="content">
      <div id="form-outer-wrapper">
        <div id="form-inner-wrapper">
          <div id="header">
            <h4>Details about word {{ word_id }}</h4>
            <p>Word: {{ word }}</p>
            <p>
              Search term :
                <select name="term_select" onChange="window.location.href='/'+this.value+'/word/{{ word_id }}'">
                {% for idx, term in inputs.items() %}
                  <option value="{{ idx }}"{% if iid|int is equalto idx|int %} selected{% endif %}>{{ term }}</option>
                {% endfor %}
              </select>
            </p>
          </div>
          <div id="wrap">
            <div id="left_column">
              <h2>Topic repartition</h2>
              <bar-chart></bar-chart>
            </div>
          <div id="right_column">
            <h2>Related documents ({{documents|length}})</h2>
            <ul>
              {% for doc in documents %}
                <li>
                  <strong><a href="../document/{{ doc[3] }}">{{ doc[0] }}</a></strong>
                  <br>
                  {{ doc[1] }}
                  <br>
                  <i>EGC {{ doc[2] }}</i>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer_extra %}
  <script>

    var interval = Math.floor(1000 / 60 * 10);
    var resizeTimer;
    var wrapper = $('#form-inner-wrapper');

    function wrapper_resize() {
      wrapper.css('width', Math.max.apply(null, [270,parseInt(3*$(window).width()/4)]));
    }

    $(document).ready(function(){

      window.addEventListener('resize', function (event) {
        if (resizeTimer !== false) {
          clearTimeout(resizeTimer);
        }
        resizeTimer = setTimeout(function () {
          wrapper_resize();
        }, interval);
      });

      wrapper_resize();

    });
  </script>
  <script>
    var margin = {top: 10, right: 0, bottom: 60, left: 40},
      width = 600 - margin.left - margin.right,
      height = 350 - margin.top - margin.bottom;
    var x = d3.scale.ordinal()
      .rangeRoundBands([0, width], .1);
    var y = d3.scale.linear()
      .range([height, 0]);
    var xAxis = d3.svg.axis()
      .scale(x)
      .orient("bottom");
    var yAxis = d3.svg.axis()
      .scale(y)
      .orient("left");
    var tip = d3.tip()
      .attr('class', 'd3-tip')
      .offset([-10, 0])
      .html(function(d) {
        return "<strong>Weight:</strong> <span style='color:red'>" + d.weight + "</span>";
      });
    var svg = d3.select("bar-chart").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    svg.call(tip);
    d3.tsv("{{ url_for('static', filename = 'data/input'+iid+'_topic_distribution_w'+word_id+'.tsv') }}", type, function(error, data) {
      x.domain(data.map(function(d) { return d.topic; }));
      y.domain([0, d3.max(data, function(d) { return d.weight; })]);
      svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)
        .selectAll("text")
          .style("text-anchor", "end")
          .attr("dx", "-1em")
          .attr("dy", "-0.7em")
          .attr("transform", "rotate(-90)" );
      svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
      .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 2)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("Weight");
      svg.selectAll(".bar")
        .data(data)
      .enter().append("rect")
        .attr("class", "bar")
        .attr("x", function(d) { return x(d.topic); })
        .attr("width", x.rangeBand())
        .attr("y", function(d) { return y(d.weight); })
        .attr("height", function(d) { return height - y(d.weight); })
    });

    function type(d) {
      d.weight = +d.weight;
      return d;
    }
  </script>
{% endblock %}
